.about {
  padding: calc(var(--spacing-xl) + 1rem) var(--spacing-md);

}

.about__content {
  width: 100%;
  max-width: var(--max-width);
  margin: 0 auto;
}

.about__eyebrow {
  margin-bottom: var(--spacing-xs);
  color: var(--color-primary);
  font-weight: 500;
}

.about__title {
  max-width: 18ch;
  margin-bottom: 2rem;

  font-size: clamp(2rem, 5vw, 3.5rem);
  line-height: 1.2;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  max-width: 900px;
}

.about__text span {
  color: var(--color-primary);
  font-weight: 600;
}